<!DOCTYPE html PUBLIC “-//W3C//DTD XHTML 1.0 Transitional//EN”
    “https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd”>

<html xmlns=“https://www.w3.org/1999/xhtml”>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <title>Email</title>
</head>

<body style="text-align: center; font-family: Helvetica; color: rgb(25, 25, 25);">
    <header>
        <img src="https://images2.imgbox.com/bb/a5/fidtlhaL_o.png" alt="animage" style="width: 7rem;
        border: 3px solid rgb(240, 240, 240);
        border-radius: 50%;
        margin: 10px;">
    </header>
    <div class="content" style="background: linear-gradient(to right,
    rgb(187, 238, 233),
    rgb(240, 240, 240),
    rgb(240, 240, 240),
    rgb(240, 240, 240),
    rgb(187, 238, 233));
padding: 2rem 1rem;
border: 5px solid rgb(240, 240, 240);">
        <h2>Please verify your account by clicking the button below!</h2><br>
        <a href="http://localhost:5000/auth/verification/<%= token %>" style="padding: 8px 20px;
            background-color: rgb(0, 151, 136);
            color: white !important;
            text-decoration: none;
            border-radius: 5px;
            cursor: pointer;
            border: 2px solid white;
            transition: 0.3s all ease;">Verify</a>
    </div>
    <footer style="color: rgb(117, 102, 102); background-color: rgb(247, 247, 247); padding: 1.5rem 1rem 5px;">
        <img style="width: 4rem; margin: 10px; opacity: 0.5;" src="https://images2.imgbox.com/fb/d8/tYI3xO6Y_o.png"
            alt="anlogo"><br>
        <span>tel. +387-60-325-127 Sarajevo</span><br>
        <span>tel. +387-61-778-25-24 Banja Luka</span><br>
        <span>tel. +381-60-148-142 Belgrade</span><br>
        <hr>
        <span>Bosnia and Herzegovina - Sarajevo, Ul. Alipašina 71160</span><br>
        <span>Bosnia and Herzegovina - Banja Luka, Ul. Omladinska 78108</span><br>
        <span>Serbia - Belgrade, Ul. Knez Mihajlova 11070</span><br><br>
        <span>Ammunation Inc.&copy;</span>
    </footer>
</body>

</html>